<div class="todo-container">
  <h1 class="todo-heading">TODO-LIST</h1>
  <div class="input-container">
    <div class="input-wrapper">
      <label for="taskName">TASK NAME:</label>
      <input pInputText 
      type="text" 
      [(ngModel)]="newTodoTitle" 
      placeholder="Add a task" 
      [ngClass]="{'error-border': showErrorTitle}" />
      <div *ngIf="showErrorTitle" class="error">{{ errorMessageTitle }}</div>
    </div>
    <div class="input-wrapper">
      <label for="dueDate">DUE DATE:</label>
      <p-calendar 
      [(ngModel)]="newTodoDueDate" 
      placeholder="Due date" 
      [showIcon]="true" 
      [minDate]="minDate" 
      [ngClass]="{'error-border': showErrorDueDate}">
      </p-calendar>
      <div *ngIf="showErrorDueDate" class="error">{{ errorMessageDueDate }}</div>
    </div>
    <button pButton 
      label="Add" 
      icon="pi pi-plus" 
      class="add-button" 
      (click)="addTodo()">
    </button>
  </div>

  <div class="todo-lists">
    <div class="todo-list">
      <h2 class = "task-heading">Open Tasks</h2>
      <div *ngFor="let todo of openTodos">
          <p-card>
            <div class="task-item">
              <p-checkbox 
              [(ngModel)]="todo.completed" 
              (change)="toggleTodoCompletion(todo)" 
              binary="true">
            </p-checkbox>
              <div class="task-details-container">
                <span class="task-title">Task Name: {{ todo.title }}</span>
                <span class="task-due-date">Due: {{ todo.dueDate | date:'dd/MM/yyyy'}}</span>
              </div>
              <button pButton 
              icon="pi pi-trash" 
              class="delete-button" 
              (click)="deleteTodo(todo)"></button>
            </div>
          </p-card>
        </div>
        
    </div>

    <div class="todo-list">
      <h2 class="task-heading">Completed Tasks</h2>
      <div *ngFor="let todo of completedTodos">
        <p-card>
          <div class="task-item">
            <p-checkbox 
            [(ngModel)]="todo.completed" 
            (change)="toggleTodoCompletion(todo)" 
            binary="true">
          </p-checkbox>
            <div class="task-details-container">
              <span class="task-title">Task Name: {{ todo.title }}</span>
                <span class="task-due-date">Due: {{ todo.dueDate | date:'dd/MM/yyyy'}}</span>
            </div>
              <button pButton 
              icon="pi pi-trash" 
              class="delete-button" 
              (click)="deleteTodo(todo)"></button>
            </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
